.blog {
  padding: 200px 0 200px;
}

.blogWrapperTitle {
  font-size: 55px;
  color: $colorGold;
  text-align: center;
  margin-bottom: 70px;
}

.blogWrapperPatches {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.blogWrapperPatchesInnerGroup,
.blogWrapperPatchesInnerGroupActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.blogWrapperPatchesInnerGroupImg {
  margin-bottom: 20px;
}

.blogWrapperPatchesInnerGroupText {
  margin-bottom: 20px;
}

.blogWrapperPatchesInnerTitle {
  font-size: 40px;
  color: $colorGold;
  margin-bottom: 10px;
}

.blogWrapperPatchesInnerGroupTextDate {
  font-size: 25px;
  color: $color;
}

.blogWrapperPatchesInnerGroupTime,
.blogWrapperPatchesInnerGroupTimeActive {
  font-size: 30px;
  margin-bottom: 10px;
  white-space: pre-wrap;
}

.blogWrapperPatchesInnerSub {
  color: $color;
}

.blogWrapperPatchesInnerGroupShow {
  display: none;
  visibility: hidden;
}