.blog {
  padding: 200px 0 200px;
}

.blogWrapperTitle {
  font-size: 55px;
  color: $colorGold;
  text-align: center;
  margin-bottom: 70px;
}

.blogWrapperPatches {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.blogWrapperPatchesInnerTitle {
  font-size: 35px;
  color: $colorGold;
  margin-bottom: 5px;
}

.blogWrapperPatchesInnerGroupTime{
  font-size: 20px;
  margin-bottom: 10px;
}

.blogWrapperPatchesInnerSub {
  color: $color;
}