// @font-face {
//   font-family: "Sansation";
//   src: url("/fonts/Sansation/Sansation-Regular.woff2") format("woff2");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Sansation";
//   src: url("/fonts/Sansation/Sansation-Bold.woff2") format("woff2");
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Source Sans 3";
//   src: url("/fonts/SourceSans3/SourceSans3-Regular.woff2") format("woff2");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Source Sans 3";
//   src: url("/fonts/SourceSans3/SourceSans3-Bold.woff2") format("woff2");
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

$white: #fff;
$black: #000;
$background: #151515;
$color: #8b8b8b;
$colorGold: #f9d58e;
$sansation: "Sansation", sans-serif;
$sourceSans: "Source Sans 3", sans-serif;

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  min-height: 100vh;

  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

body,
html {
  width: 100%;
  min-width: 100vw;
  // height: 100%;
  min-height: 100%;
  background-color: $background;
  font-family: $sourceSans;
  font-weight: normal;
  font-size: 25px;
  color: $color;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
button,
select {
  border: none;
  outline: none;
  background-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1357px;
  padding: 0 16px;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.animated {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 540px) {
  html,
  body {
    font-size: 14px;
  }
}

@import "./Header.module";
@import "./Footer.module";
@import "./Heroes.module";
@import "./Home.module";
@import "./About.module";
@import "./PreviewHeroes.module";
@import './Blog.module';

// Adaptiv
@import "./Adaptive/HeaderMedia.module";
@import "./Adaptive/HomeMedia.module";
@import "./Adaptive/FooterMedia.module";
@import "./Adaptive/AboutMedia.module";
