@media screen and (max-width: 1280px) {
  .footerWrapper {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1024px) {
  .footerWrapperList {
    gap: 20px;
  }
}

@media screen and (max-width: 540px) {
  .footerWrapper {
    flex-direction: column;
  }

  .footerLogo {
    display: none;
    visibility: hidden;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
  }

  .footerWrapperLogoGroupList {
    
    justify-content: space-around;
  }
  .footerWrapperList {
    display: none;
    visibility: hidden;
    flex-direction: column;
    gap: 20px;
  }
}
