@media screen and (max-width: 1280px) {
  .nav {
    position: relative;
    padding: 0 20px;
  }

  .navLinksList {
    transform: translateX(11px);
    box-shadow: -30px 0px 30px $background;
  }

  .navLinksList,
  .navLinksListActive {
    position: absolute;
    right: 0;
    top: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 100vh;
    background-color: $background;
    transition: all 0.5s;
  }

  .navLinksListActive {
    transform: translateX(105%);
  }

  .navList {
    flex-direction: column;
  }

  .navMenu {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50px;
    height: 50px;
    z-index: 20;
  }

  .navGroups {
    display: flex;
    gap: 40px;
  }

  .navMenuSpan1,
  .navMenuSpan2,
  .navMenuSpan3,
  .navMenuSpan1Active,
  .navMenuSpan2Active,
  .navMenuSpan3Active {
    display: block;
    width: 100%;
    height: 4px;
    background-color: $colorGold;
    opacity: 1;

    transition: all 0.4s;
  }

  .navMenuSpan1Active {
    transform: rotate(45deg) translateX(10px) translateY(10px);
    box-shadow: 0 0 10px $colorGold;
  }

  .navMenuSpan2Active {
    width: 0;
    opacity: 0;
  }

  .navMenuSpan3Active {
    transform: rotate(-45deg) translateX(8px) translateY(-8px);
    box-shadow: 0 0 10px $colorGold;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    overflow: hidden;
  }
  .header {
    width: 100%;
  }
  .homeWrapper {
    flex-direction: column-reverse;
  }
  .navLinksList,
  .navLinksListActive {
    right: -4px;
    top: -31px;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    min-width: 100%;
    height: 100vh;
    z-index: 2;
  }

  .navLinksListActive {
    transform: translateX(105%);
  }
}
@media screen and (max-width: 912px) {
  .navLinksList,
  .navLinksListActive {
    flex-direction: column;
  }
  
}

@media screen and (max-width: 540px) {
  .wrapper {
    overflow: hidden;
  }
  .navLinksListActive {
    transform: translateX(126%);
  }

  // .navLinksList,
  // .navLinksListActive {
  //   right: -4px;
  //   top: -31px;
  //   flex-direction: column;
  //   gap: 40px;
  //   width: 100%;
  //   min-width: 100%;
  //   height: 100vh;
  //   z-index: 2;
  // }

  // .navLinksListActive {
  //   transform: translateX(161%);
  //   height: 100vh;
  // }

  // .navLinksList {
  //   width: 100%;
  //   height: 100vh;
  //   box-shadow: -30px 0px 30px #151515;
  // }
}
