@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .previewWrapperCont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .previewWrapperContInf2Sub {
    text-align: center;
  }
}

@media screen and (max-width: 912px) {
  .previewWrapperContInf3List {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 540px) {
  .previewWrapperContImg {
    width: 175px;
    height: 175px;
  }

  .previewWrapperContList {
    gap: 35px;
  }
  .previewWrapperContListItem {
    flex-direction: column;
    height: inherit;
    gap: 20px;
  }

  .previewWrapperContListItemSubs {
    width: 100%;
  }

  .previewWrapperContInner {
    justify-content: center;
    align-items: center;
  }
  .loading {
    background-color: $background;
    width: 100%;
    height: 100vh;
  }
  
  .spin {
    top: 45%;
    left: 30%;
    width: 150px;
    height: 150px;
  }

  .previewWrapperTitle {
    font-size: 40px;
  }

  .previewWrapperContInf2Title {
    font-size: 40px;
  }
  .previewWrapperContInf2Sub {
    font-size: 25px;
  }

  .previewWrapperCont {
    gap: 25px;
  }

  .previewWrapperSkillsTitle {
    font-size: 45px;
  }
  .previewWrapperContListItemImg {
    width: 85px;
    height: 85px;
  }

  .previewWrapperContListItemContTitle {
    font-size: 30px;
  }

  .previevContInf3ListItemIcon {
    width: 95px;
    height: 95px;
  }
  .previevContInf3ListItemIconName {
    font-size: 20px;
  }

  .previewWrapperContInf2Title {
    margin-bottom: 0;
  }
  .previewWrapperContInf3Title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 414px) {
}

@media screen and (max-width: 430px) {
}

@media screen and (max-width: 390px) {
}
@media screen and (max-width: 360px) {
}
